/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind utilities;

[data-theme='dark'] {
  --ifm-color-primary: #af8aff;
  --ifm-color-primary-dark: #9463ff;
  --ifm-color-primary-darker: #8f5bff;
  --ifm-color-primary-darkest: #8147ff;
  --ifm-color-primary-light: #cab1ff;
  --ifm-color-primary-lighter: #d7c5ff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #111827;
  --ifm-navbar-background-color: #111827;
}

.markdown header h1 {
  --ifm-h1-font-size: 2rem!important;
}

img {
  width: auto;
  height: auto;
}